/* VIEW PERFIL */

*{
    padding: 0;
}

div.centro_perfil{
    width:100%; 
    height: 100%; 
    background-color:white;
    display: flex;
}

div.foto{
    margin: 0px 0px 0px 20px;
    width: 15%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    
}

div.nome_perfil{
    /* flex-direction: row; */
    
    justify-content: center;
    color: rgb(172, 94, 94);
}
div.sobre{
    display: flex;
    width:100%;
}

.tab {
    width: 80%; 
    margin: 20px auto;
  }
  
  /* OCULTA AS BOLINHAS DO RADIO */
  input[type="radio"]{
    visibility:hidden;
}

/* OCULTA A BOLINHA DO RADIO, MAS BAGUNÇA O RESTO DOS INPUTS */
  /* .tab input[type] {
    display: none;
  } */
  /*envolve todo o nosso conteúdo*/
  .tab label {
    display: block;
    float: left;
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color .3s;
  }
  
  .tab label:hover,
  .tab input:checked + label {
    background: #5b9780;
    color: #fff;
  }
  
  .tabs {
    clear: both;
    perspective: 400px;
    -webkit-perspective: 400px;
  }
  
  .tabs .content {
    background: #fff;
    width: 100%;
    position: absolute;
    border: 2px solid #5b9780;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
  }
  
  #tab1:checked ~ .tabs .content:nth-of-type(1),
  #tab2:checked ~ .tabs .content:nth-of-type(2),
  #tab3:checked ~ .tabs .content:nth-of-type(3),
  #tab4:checked ~ .tabs .content:nth-of-type(4) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}
