body{
    /* background: -webkit-linear-gradient(-164deg, rgb(22, 135, 237), rgb(20, 55, 90)); */
    /* background: linear-gradient(-164deg, rgb(214, 236, 255), rgb(15, 104, 193)); */
    background-color: aliceblue;
    


    /* background-image: url("/img/fundo.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover; */
}
div.principal{
    width:100%;
    height:110px;
    display: flex;
    align-items: center;
}
h1.logo{
    color: black;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
span.logo{
    color:red;
    font-size: 47px;
    font-weight: bold;
}
nav.menu{
    height: 40px;
}

.icon-space{
    margin-right: 6px;
}
/* .menucor{
    
    
background: -webkit-linear-gradient(15deg, rgb(1, 56, 29), rgb(0, 43, 86));
background: linear-gradient(15deg, rgb(1, 56, 29), rgb(0, 43, 86));


} */
.buttoncor{
    
    background: white;
    padding-bottom: 10px;
   
    

}
.grid{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 2fr 96fr 2fr;
    grid-template-areas: "h h h"
                         "a m m"
                         "f f f"
}

.grid-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-main{
    display: block;
    margin: 0 auto;
}

.custom-card {
    padding: 0 15px;
    margin: 10px -15px;
    max-width: 385px;
    width: 100%;
    box-sizing: border-box;
}
.img-carrousel{
    display: block;
    width: 100%;
    height: 274.43px;
}
.search{
    display: block;
    flex-wrap: wrap;
}
.img-button{
    margin-left: 0.5px;
}
.title-blades{
    margin-top: 30px;
}
.prestador-button{
    background-color:rgb(4, 12, 124); 
    color:black;
}
.icon-space2{
    margin-right: 6px;
    margin-top: 3px;
}
