body{
    /* background: -webkit-linear-gradient(-164deg, rgb(22, 135, 237), rgb(20, 55, 90)); */
    /* background: linear-gradient(-164deg, rgb(214, 236, 255), rgb(15, 104, 193)); */
    background-color: aliceblue;


    /* background-image: url("/img/fundo.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover; */
}
div.principal{
    width:100%;
    height:110px;
    display: flex;
    align-items: center;
}
h1.logo{
    color: black;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
span.logo{
    color:red;
    font-size: 47px;
    font-weight: bold;
}
nav.menu{
    height: 40px;
}

.icon-space{
    margin-right: 6px;
}
